//Tokens

// Colors
$not-black: #252C42;
$gray-chrome: #F4F5F9;
$rco-red: #F43E46;
$light-gray: #6A6D7D;
$light-blue-gray: #DDDFE6;

//Type
$font-family-system: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "rooney-web", Georgia, "Times New Roman", Times, serif !default;

$navigation-hover-color: $light-gray;
$navigation-active-color: $light-gray;

$project-list-title-color: $not-black;

$hr-color: $light-blue-gray;

$p-lead-color: $light-gray;
$figcap-color: $light-gray;
