---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "normalize";
@import "bourbon";
@import "gridsettings";
@import "neat";
@import "tokens";

//Basics

body {
  font-family: $font-family-serif;
  font-size: 16px;
  line-height: 1.45;
  font-weight: 300;
  color: $not-black;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-system;
  font-weight: 500;
}

h1 {
  font-size: 23px;
  margin-top: 32px;
}

h2 {
  font-size: 21px;
  margin-top: 56px;
}

h3 {
  font-size: 18px;
  margin-top: 32px;
}


.post {

  .post-title {
    margin-top: 56px;
  }

  h2, h3, h4 {
    margin-top: 40px;
  }

}

p+p {
  margin-top: 24px;
}

a {
  color: $rco-red;
  &.content-link {
    font-family: $font-family-system;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px;
    display: block;
    margin-top: 32px;
    margin-bottom: 64px;
    &:hover {
      text-decoration: underline;
    }
  }
}

strong {
  font-weight: 600;
}

ul {
  padding-left: 0;
  list-style-type: square;
}

hr {
  width: 64px;
  margin: 32px 0 16px;
  border-style: solid;
  box-sizing: border-box;
  height: 1px;
  border-bottom: none;
  border-color: $hr-color;
}

blockquote {
  margin-left: 0px;
  font-size: 18px;
  font-style: italic;

}

.lead {
  font-size: 18px;
  font-weight: 200;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.border {
    border: 1px solid $light-blue-gray;
  }
}

figcaption {
  margin-top: 5px;
  font-size: 13px;
  font-style: italic;
  color: $figcap-color;
  .title {
    font-weight: 600;
  }
  .caption-body {
    font-weight: 200;
  }
  .caption-right & {
    margin-top: 0;
  }
}

// Layouts

main, footer {
    max-width: 960px;
    margin: 0 auto;
    //@include grid-visual;
    @include grid-container;
    .wrapper {
        @include grid-column(10);
    }
}

.site-topper {
  height: 22px;
  border-top: 2px solid $rco-red;
  background-color: $gray-chrome;
  margin-bottom: 32px;
}

header {
  .site-header-content {
    @include grid-container;
    margin: 0 auto;
    max-width: 960px;
    .wrapper {
      @include grid-column(1, $rco-grid);
      .site-title {
        font-size: 28px;
        font-weight: 400;
        letter-spacing: -1.2px;
        text-decoration: none;
        color: $not-black;
        display: block;
        //text-align: center;
        background: 159px 12px url('/assets/img/3x-airplane.png') no-repeat;
        background-size: 114px 13px;
        //font-style: italic;
      }
      .tag-line {
        font-family: $font-family-system;
        font-weight: 400;
        margin-top: 8px;
        margin-bottom: 32px;
        //text-align: center;
      }
      @include grid-media($rco-grid--mxl-up) {
        @include grid-column(6);
        .site-title {
          text-align: left;
        }
        .tag-line {
          text-align: left;
        }
      }
    }
  }
  .site-nav {
    border-top: 1px solid $gray-chrome;
    border-bottom: 1px solid $gray-chrome;
    .wrapper {
      max-width: 960px;
      margin: 0 auto;
      @include grid-container;
      .trigger {
        @include grid-column(1, $rco-grid);
        .page-link {
          display: inline-block;
          font-size: 18px;
          font-weight: 300;
          color: $not-black;
          text-decoration: none;
          margin-right: 38px;
          padding: 8px 6px 7px;
          &:hover {
            color: $navigation-hover-color;
          }
          &.active {
            border-bottom: 1px solid $rco-red;
            color: $navigation-active-color;
          }
        }
        @include grid-media($rco-grid--mxl-up) {
          @include grid-column(8);
        }
      }
    }
  }
} // End Header


// Pages?
.home, .post {
  @include grid-container;
  @include grid-collapse;

  .wrapper {
    @include grid-column(1, $rco-grid);

    .artifact-wrapper {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    @include grid-media($rco-grid--mxl-up) {
      @include grid-column(8);

      .post-content {
        & p, & ul {
          width: 540px; // This could prbably be done with a grid function instead.
        }
      }

      .artifact-wrapper {
        @include grid-container;
        @include grid-collapse;

        .image-full {
          @include grid-column(10);
        }
        .image-left {
          @include grid-column(5)
        }
        .caption-right {
          @include grid-column(5)
        }
        .caption-full {
          @include grid-column(10);
        }
      }

  }

.post-list {
    @include grid-container;
    @include grid-collapse;
    .post-highlight {
      @include grid-column(4.5)
    }
    .post-highlight:nth-child(2) {
        @include grid-push(1);
      }
  }
}
}


// Project List
.project-list {
  h3 {
    font-family: $font-family-serif;
    color: $project-list-title-color;
    font-weight: 400;
    margin-bottom: 0;
  }
  p.description {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  a {
    @extend .content-link;
    color: #84889C;
    margin-bottom: 3px;
    &.view {
      margin-top: 3px;
      margin-bottom: 32px;
      font-size: 13px;
    }
  }

}
