---
layout: default
---

<div class="home">

  <div class="wrapper">
    <h2 class="page-heading">Hi, I'm Ryan</h2>


      {{ content }}

    <h2>Selected Work &amp; Case Studies</h2>

    <div class="project-list">

      <h3>Socrata for Public Finance</h3>
      <p class="description">Providing access to public financial information for citizens.</p>
      <a href="/work/finance">View Project</a>

      <h3>Socrata Performance</h3>
      <p class="description">Moving performance management from external communication toward internal, operational insight for government knowlege workers.</p>
      <a href="/work/finance">View Project</a>

      <h3>Platform UI System</h3>
      <p class="description">User interface patterns, components and widgets.</p>
      <a href="/work/finance">View Project</a>



    </div>

    <a class="content-link" href="/work">More projects ➝</a>



    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

  </div>
</div>
