---
layout: default
---

<div class="home">

  <div class="wrapper">
    <h2 class="page-heading">Hi, I'm Ryan</h2>


      {{ content }}

    <h2>Selected Work &amp; Case Studies</h2>

    <div class="project-list">

      <a href="/work/socrata/">
        <h3>Highlights from My Last 2.5 Years at Socrata</h3></a>
        <p class="description">Reflecting on projects and personal growth over the last couple of years.</p>
        <a class="view" href="/work/socrata/">View Post</a>

      <a href="/work/visualization/">
        <h3>Socrata Visualization Authoring</h3></a>
        <p class="description">A new visualization authoring experience tuned for Socrata user scenarios.</p>
        <a  class="view" href="/work/visualization/">View Project</a>

      <a href="/work/finance/">
        <h3>Socrata for Public Finance</h3></a>
        <p class="description">A financial transparency initiative for government.</p>
        <a class="view" href="/work/finance/">View Project</a>



    </div>

    <a class="content-link" href="/work">More projects ➝</a>



    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

  </div>
</div>
